@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');


body { background-color: #000000; overflow: hidden; }
* { font-size: 21px; font-family: 'Ubuntu Condensed', sans-serif; }

a { padding: 0 5px; }
thead,tbody { display: block; }
table, th,td { text-align: center; }
th, td { width: 150px; height: 50px; }
p > input[type="radio"] { left: 3px; position: absolute; }
thead > tr * { color: #FFFFFF; background-color: #FFFFFF; }
tbody { height: 95vh; overflow-y: auto; overflow-x: hidden; }
table { background-color: #FFFFFF; margin: 0 auto; border: none; }
p { width: 70%; padding: 5px; margin: 0 auto; position: relative;}

#hsearch,#searchDir { color: #000000; }
input[type="color"] { width: 30px; height: 30px; border: none; }

th,tbody { background: linear-gradient(to right, #0033FF, #3399FF); }
td > input[type="color"] { width: 60px; height: 30px; }
th > input[type="button"] { color: #000000; background-color: gray; }
