@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');


body { background-color: #000000; overflow: hidden; }
* { font-size: 21px; font-family: 'Ubuntu Condensed', sans-serif; }

a { padding: 0 5px; }
thead,tbody { display: block; }
th, td { width: 150px; height: 50px; }
table { background-color: #FFFFFF; margin: 0 auto; border: 2px groove green; }
thead > tr * { color: green; background-color: #FFFFFF; }
p > input[type="radio"] { left: 3px; position: absolute; }
tbody { height: 95vh; overflow-y: auto; overflow-x: hidden; }
table, th,td { text-align: center; border: 2px solid #000000; }
p { width: 70%; padding: 5px; margin: 0 auto; position: relative;}

#hsearch,#searchDir { color: #000000; }


