@import "CSS3/Url/pointer.css";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


#UrlSearch_Btns {
	margin-bottom: 15px;	
	margin-left: 110px;
}

.UrlSearchBtns input[type="search"] { }
* { padding: 0; margin: 0; box-sizing: border-box; }
.UrlSearchBtns input[type="button"] { padding: 0 10px; }
.UrlSearchBtns * {font-size: 18px; font-family: 'Ubuntu Condensed', sans-serif; }
