@import "CSS3/Url/pointer.css";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.UrlSearch {
	top: 20px;
	height: 200px;
	display: flex;
	display: flex;
	margin: 0 auto;
	max-width: 635px;
	position: relative;
	flex-direction: row;
	align-items: center;
	background-color: transparent;
}

.UrlSearch img {
	left: -2px;
	max-width: 250px;
	position: relative;
}

.searchFrame {
	width: 60%;
	height: 95%;
	right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
}
.UrlSearchBtns * {
	font-size: 18px;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.UrlSearchBtns input[type="button"] { padding: 0 10px; }
.UrlSearchBtns input[type="search"] { }

.UrlSearchTags {
	top: 13px;
	width: 100%;
	height: 80px;
	display: flex;
	flex-wrap: wrap;
	overflow: scroll;
	position: relative;
	flex-direction: row;
	align-content: flex-start;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.UrlSearchTags > #pointer {
	width: 100px;
	height: 20px;
	margin-left: 13px;
	margin-top: 5px;
	background-color: #00ff2a;
}

.UrlSearchTags > #pointer:before {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid #00ff2a;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.UrlSearchTags > #pointer:after {
  left: 0;
  width: 0;
  height: 0;
  bottom: 0;
  content: "";
  position: absolute;
  border-left: 10px solid #DCDCDC;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

