@import url('https://fonts.googleapis.com/css2?family=Charmonman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu Condensed';
}

.UFrame iframe { width: 100%; height: 60%; }
label { color: #6F00FF; margin-right: 13px; }
body { width: 100%; height: 100vh; background-color: #D3D3D3; }

.Url {
	top: 33px;
	margin: 0 auto;
	overflow: hidden;
	max-width: 635px;
	position: relative;
	font-weight: bolder;
	margin-top: 5px;
	background-color: transparent;
}

.Url > a[href$="/"] {
	text-decoration: none;
	background-color: #000000;
	font-family: 'Roboto Condensed', sans-serif;
}

.UFrame {
	width: 100%;
	height: 630px;
	background-color: #FFFFFF;
}

/**
 * style the color input inside each paragraph descriptor.
 * these colors change according to the search that is queried.
 */
input[type="color"] {
	border: 0;
	width: 30px;
	height: 30px;
	background-color: transparent;
}

input[type="number"] { text-align: center; }
