@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body { width: 100%; height: 100vh; background-color: #DBD7D2; }


.Url {
	top: 33px;
	margin: 0 auto;
	overflow: hidden;
	max-width: 635px;
	position: relative;
	font-weight: bolder;
	margin-top: 5px;
	background-color: transparent;
	font-family: 'Roboto Condensed', sans-serif;
}

.Url p:nth-child(1) {
	height: 45px;
	color: #FFFFFF;
	padding: 10px 25px;
	display: inline-block;
	background-color: #000000;
}

.Url p:nth-child(1) > input[type="color"] { 
	border: 0; 
	width: 25px; 
	left: -13px;
	height: 25px; 
	position: relative;
}

.UFrame {
	width: 100%;
	height: 560px;
	background-color: #FFFFFF;
}

.UFrame iframe { width: 100%; height: 60%; }

/**
* the list of tags,snapshot of the Url. the first tag
* is used in a different color highlight for the Url iframe.
* every children as a set of default config apart from the 1st.
*/
.Utgs {
	top: 13px;
	left: 35px;
	width: 95%;
	display: flex;
	position: relative;
	flex-direction: row;
	margin-bottom: 15px;
}

.Utgs > p {
	color: #FFFFFF;
	margin-right: 25px;
	font-size: 18px;
    font-family: 'Ubuntu Condensed', sans-serif;
	background-color: #FFDC00;
}

.Utgs p:nth-child(1) {
	padding: 10px 15px;
	color: #FFFFFF;
	border-radius: 0;
	background-color: #000000;
}

#pointer {
  width: 200px;
  height: 40px;
  display: flex;
  position: relative;
  background: red;
  align-items: center;
  justify-content: center;
}

#pointer:after {
  left: 0;
  width: 0;
  height: 0;
  bottom: 0;
  content: "";
  position: absolute;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

#pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid red;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

/**
 * style the color input inside each paragraph descriptor.
 * these colors change according to the search that is queried.
 */
input[type="color"] {
	border: 0;
}

/**
* h3:  the description heading 
* h4:  the date for the url post
* h5:  the time/date for the url post
* p :  the short summary for the url post
*/
.Details h3 { font-weight: bolder; }
.Details > p {	width: 95%; font-size: 18px; }
.Details { padding: 5px; border-top: #D3D3D3; }
.Details h4 { color: gray; font-family: 'Ubuntu Condensed'; filter: blur(1px) }
.Details h5 { color: #FF4500; font-family: 'Ubuntu Condensed', sans-serif; }
.Details > * { left: 35px; position: relative; font-family: 'Ubuntu Condensed', sans-serif }
